.narrative {
  
 /* background-color: rgba(0, 0, 0, 0.75); */
 
  padding: 20px !important;
  border: 6px solid black;
   font-family: 'Helvetica' !important;

    /*color: rgba(255, 255, 255, 1) !important;*/
    
}


.narrative a, .narrative h2 {
  color: rgba(255, 255, 255, 1) !important;
  font-family: 'Helvetica' !important;
  font-weight: 800 !important;
  text-decoration: ;
}

.pageinforeactable {
  font-weight: 800 !important;
  opacity: 1 !important;
  color: rgba(255, 255, 255, 1);
}

#quarto-document-content {
  background-color: #fdffee; !important
  margin: 0 !important;
  color: rgb(16, 70, 27); !important
}

.sticky {
  height: 100vh !important;
  width: 100vw !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#cr-main{
  background-image: url(index_images/main.png);
}

#cr-map1{
  background-image: url(index_images/1.png);
}

#cr-map2{
  background-image: url(index_images/2.png);
}

#cr-map3{
  background-image: url(index_images/3.png);
}

#cr-map4{
  background-image: url(index_images/4.png);
}

#cr-map5{
  background-image: url(index_images/5.png);
}

#cr-map6{
  background-image: url(index_images/6.png);
}

#cr-map7{
  background-image: url(index_images/7.png);
}

#cr-map8{
  background-image: url(index_images/8.png);
}

#cr-map9{
  background-image: url(index_images/9.png);
}

#cr-map10{
  background-image: url(index_images/10.png);
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
