/*@import url('ym.css');*/
@import url('closeread.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Base colors */
:root {
  --hero-color: #10461b;
  --body-text-color: #000000;
  --background-color: #fdffee;
  --green-base: #10461b;
  --blue-base: #283696;
  --red-base: #ba1b21;
  --yellow-base: #f6ae00;
}

#TOC {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900 !important;
  text-decoration: ;
}

body {
  
  overflow-x: hidden !important;
  
  font-family: "Lato", sans-serif;
  color: var(--body-text-color);
  background-color: var(--background-color);
  font-size: 16pt;
}

#title-block-header {
  margin-top: 30px;
}

.interactive-map {
  
}

.closeread{
  
}

.quarto-content, .quarto-light, .nav-tabs, .girafe_container_std {
  background-color:  var(--background-color) !important;
}

.column-body p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.table {
  border: 2px solid darkgray;
}

.graph {
  /* border: 2px solid darkgray; */
}

.title {
  text-align: start !important;
}

.narrative {
  background-color: var(--background-color) !important;
 
 z-index: 999;
 
  padding: 20px !important;
  border: 6px solid black;
   

  color: black !important ;
    
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: var(--green-base);
}


.narrative a, .narrative h2 {
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900 !important;
  text-decoration: ;
}

.pageinforeactable, .rt-table, .reactable {
`
  opacity: 1 !important;
  /*background-color: white !important; */
  background-color: var(--background-color) !important;
}

.rt-head {
  background-color: white !important;
}

#quarto-document-content {
  /*background-color: #fdffee; !important */
  margin: 0 !important;
  
}

.sticky {
  height: 100vh !important;
  width: 100vw !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#cr-main{
  background-image: url(index_images/main.png);
}

#cr-map1{
  background-image: url(index_images/1.png);
}

#cr-map2{
  background-image: url(index_images/2.png);
}

#cr-map3{
  background-image: url(index_images/3.png);
}

#cr-map4{
  background-image: url(index_images/4.png);
}

#cr-map5{
  background-image: url(index_images/5.png);
}

#cr-map6{
  background-image: url(index_images/6.png);
}

#cr-map7{
  background-image: url(index_images/7.png);
}

#cr-map8{
  background-image: url(index_images/8.png);
}

#cr-map9{
  background-image: url(index_images/9.png);
}

#cr-map10{
  background-image: url(index_images/10.png);
}

#cr-map11{
  background-image: url(index_images/11.png);
}

#cr-map12{
  background-image: url(index_images/12.png);
}

#cr-map13{
  background-image: url(index_images/13.png);
}

#cr-map14{
  background-image: url(index_images/14.png);
}

#cr-map15{
  background-image: url(index_images/15.png);
}

#cr-map16{
  background-image: url(index_images/16.png);
}

#cr-map17{
  background-image: url(index_images/17.png);
}

#cr-map18{
  background-image: url(index_images/18.png);
}

#cr-map19{
  background-image: url(index_images/19.png);
}

#cr-map20{
  background-image: url(index_images/20.png);
}

#cr-map21{
  background-image: url(index_images/22.png);
}

#cr-map22{
  background-image: url(index_images/22.png);
}

#cr-map23{
  background-image: url(index_images/23.png);
}

#cr-map24{
  background-image: url(index_images/24.png);
}

#cr-map25{
  background-image: url(index_images/25.png);
}
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
